/* write your override styles here */
#wall{color: blue;}
*{
    background-color: lightgrey;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.parent{
    display: flex;
    align-content: center;
}
head{color: darkgreen;}
div{
    align-content: flex-start;
    font-style: oblique;
    align-items: baseline;
}
body{margin-right: auto;}



